@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

#FormContainer {
    width: 50%;
    padding: 5%;
    position: relative;
    display: inline-block;
    background-color: floralwhite;
    box-shadow: inset -5px 5px 50px rgba( 0, 0, 0, 0.4), inset 5px -5px 50px rgba( 0, 0, 0, 0.4);
}

#ListContainer {
    width: 50%;
    padding: 5%;
    position: relative;
    float: right;
    overflow: scroll;
    max-height: 110vh;
}

#Form {
    margin-top: 2%;
    padding: 5%;
    position: relative;
    box-shadow: 0 10px 40px rgba( 256, 32, 144, 0.4);
}

#LabelTitle {
    text-align: center;
    display: block;
    font-size: 2.2vw;
    font-family: 'Raleway', sans-serif;
    text-shadow: 1.5px 1.5px #ff1f8f;
}

#Title {
    margin: 5% auto;
    display: block;
    width: 50%;
    height: 5vh;
}

#LabelContent {
    text-align: center;
    display: block;
    font-size: 1.9vw;;
    font-family: 'Raleway', sans-serif;
    text-shadow: 1.5px 1.5px #ff1f8f;
}

#Content {
    margin: 5% auto;
    display: block; 
    color: grey;
    width: 55%;
    height: 17vh;
    max-width: 55%;
    max-height: 17vh;
}

#AddTask {
    margin: 5% auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 12vh;
    background-color: #000000;
    position: relative;
    overflow: hidden;
    border-radius: 16px;
}

#AddTask::before {
    content: '';
    position: absolute;
    width: 300%;
    height: 300%;
    background-image: conic-gradient(transparent,transparent,transparent, #00ccff);
    animation: rotate 4s linear infinite;
}

#AddTask::after {
    content: '';
    position: absolute;
    width: 300%;
    height: 300%;
    background-image: conic-gradient(transparent,transparent,transparent, #ff00d9);
    animation: rotate 4s linear infinite;
    animation-delay: -2s;
}

#AddTask span {
    position: absolute;
    inset: 10px;
    background: #000000;
    z-index: 1;
}

#AddTask H2 {
    color: #00fff7;
    position: relative;
    font-size: 1.5vw;
    z-index: 2;
}

#AddTask:hover {
    transform: scale(1.2);
    cursor: pointer;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    } 100% {
        transform: rotate(360deg);
    }
}

#TitleAlert {
    background-color: rgb(255, 101, 101);
    width: 70%;
    margin: -3% auto;
    position: relative;
    min-height: 6vh;
    border: 2px solid rgba( 0, 0, 0, 0.5);
}

.Icon {
    padding: 2%;
    display: inline-block;
    background-color: rgba( 0, 0, 0, 0.5);
    position: absolute;
    height: 100%;
}

.ErrorIcon {
    padding: auto;
    margin: auto;
    display: block;
}

#TitleAlert p {
    width: 100%;
    padding: 4%;
    display: inline-block;
    text-align: center;
    font-size: 1.2vw;
    font-weight: bold;
}

.CloseIcon {
    position: absolute;
    right: 10px;
    top: 30%;
    width: 6%;
}

.CloseIcon:hover {
    cursor: pointer;
    scale: 1.2;
}

#ContentAlert {
    background-color: rgb(255, 101, 101);
    width: 70%;
    margin: -3% auto;
    position: relative;
    min-height: 6vh;
    border: 2px solid rgba( 0, 0, 0, 0.5);
}

#ContentAlert p {
    width: 100%;
    padding: 4%;
    display: inline-block;
    text-align: center;
    font-size: 1.2vw;
    font-weight: bold;
}

.TaskContainer {
    min-width: 40%;
    max-width: 90%;
    box-shadow: 0 0 10px 5px rgba( 0, 0, 0, 0.5);
    margin: 10%;
}

.TaskTitle {
    text-align: center;
    padding: 3%;
    font-size: 160%;
    font-weight: bold;
    text-decoration: underline;
    color: darkolivegreen;
}

.TaskContent {
    padding: 5%;
    font-size: 120%;
    color: rgb(58, 70, 37);
    background-color:rgba(117, 154, 52, 0.3);
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 120%;
    background-color: rgb(50, 44, 44);
    color:rgb(255, 101, 101);
    height: 10vh;
    text-align: center;
    display: flex;
    justify-content: center;
}

footer span {
    margin: auto;
}

footer a {
    color: #00fff7;
}

footer a:hover {
    color: #005f5c;
}

@media only screen and (max-width: 414px) {
    footer {
        bottom: 0px;
        padding: 2%;
        font-size: 80%;
    }
    #FormContainer {
        display: block;
        width: 100%;
    }
    #ListContainer {
        display: block;
        width: 100%;
        overflow-y: scroll;
    }
    #AddTask {
        width: 60%;
        height: 8vh;
    }
    #Title {
        font-size: 60%;
    }
    #Content {
        font-size: 80%;
    }
    #AddTask H2 {
        font-size: 2vw;
    }
    #TitleAlert p {
        font-size: 70%;
        padding: 8% 5% 5% 12%;
    }
    .CloseIcon {
        top: 5px;
        right: 5px;
    }
    .Icon {
        padding-top: 4%;
    }
    #ContentAlert p {
        font-size: 80%;
        padding-top: 7%;
    }
    #ContentAlert {
        margin: 5% auto;
    }
    
}
